[submodule "elm-webgl"]
	path = elm-webgl
	url = git@github.com:w0rm/elm-webgl.git
	branch = 0.17-native-to-html
[submodule "elm-stuff/packages/elm-community/elm-webgl/1.0.0"]
	path = elm-stuff/packages/elm-community/elm-webgl/1.0.0
	url = git@github.com:w0rm/elm-webgl.git
	branch = 0.17-native-to-html
